<% @followers.each do |user| %>
  <div class="user_item">
    <div class="user_header">
    </div>
    <div class="user_info">
      <a href="/users/<%= user.id %>">
        <div class="user_icon" style="background-image:url(<%= user.image.account_info.to_s %>)" ></div>
      </a>
      <div class="follow_request">
         <% if current_user.following?(user) %>
            <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),html: { method: :delete }) do |f| %>
              <%= f.submit "フォロー中", class: "btn" %>
            <% end %>
        <% else %>
          <%= form_for(current_user.active_relationships.build) do |f| %>
            <div><%= hidden_field_tag :followed_id, user.id %></div>
            <%= f.submit "フォローする", class: "btn follow" %>
          <% end %>
        <% end %>
      </div>
      <div class="user_status">
        <div class="user_name">
          <label><a href="/users/<%= user.id %>">
          <%= user.name %></a></label>
        </div>
        <div class="user_identifier">
          <label><a href="/users/<%= user.id %>">
          @<%= user.user_identifier %></a></label>
        </div>
      </div>
    </div>
  </div>
<% end %>
