<div class="account-info">
  <div class="header-image" style="background-image:url(<%= current_user.header_image.home.to_s %>">
  </div>
  <div class="account-idenfication">
    <label><a href="/users/<%= current_user.id %>">
      <p class="account-icon" style="background-image:url(<%= current_user.image.account_info.to_s %>"></p>
    </a></label>
    <div class="account-name-id">
      <div>
        <a href="/users/<%= current_user.id %>">
          <span><%= current_user.name %></span>
        </a>
      </div>
      <a href="/users/<%= current_user.id %>">
        <em>@<%= current_user.user_identifier %></em>
      </a>
    </div>
  </div>
  <div class="account-incidental">
    <div class="incidential-list">
      <ul>
        <li class="tweets">
          <a href="/users/<%= current_user.id %>">
            <span class="statusLabel">ツイート</span>
            <span class="statusValue"><%= current_user.tweets.count %></span>
          </a>
        </li>
        <li class="follow_user">
          <label><a href="<%= following_users_path(current_user) %>">
            <span class="statusLabel">フォロー</span>
            <span class="statusValue"><%= current_user.following.count %></span>
          </a></label>
        </li>
        <li class="followed_user">
          <a href="<%= followers_users_path(current_user) %>">
            <span class="statusLabel">フォロワー</span>
            <span class="statusValue"><%= current_user.followers.count %></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
