<div class="account-info">
  <div class="header-image">
  </div>
  <a href="#" >
  <div class="account-idenfication">
    <div class="account-icon">
    </div>
    <div class="account-name-id">
      <label><a href="/users/<%= current_user.id %>">
        <h2><%= current_user.name %></h2>
        <h3>@<%= current_user.user_identifier %></h3>
      </a></label>
    </div>
  </div>
  </a>
  <div class="account-incidental">
    <div class="incidential-list">
      <ul>
        <li class="tweets">
          <a>
            <span class="statusLabel">ツイート</span>
            <span class="statusValue"><%= current_user.tweets.count %></span>
          </a>
        </li>
        <li class="follow_user">
          <a>
            <span class="statusLabel">フォロー</span>
            <span class="statusValue"><%= current_user.following.count %></span>
          </a>
        </li>
        <li class="followed_user">
          <a>
            <span class="statusLabel">フォロワー</span>
            <span class="statusValue"><%= current_user.followers.count %></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
