<div class="devise">
  <h2>Twitterを始めよう！</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :name, placeholder: "名前（ニックネーム）", autofocus: true %>
    </div>

    <div class="field">
      <%= f.text_field :user_identifier , placeholder: "ユーザーID"%>
    </div>

    <div class="field">
      <%= f.email_field :email, placeholder: "メールアドレス" %>
    </div>

    <div class="field">
      <%= f.password_field :password, placeholder: "パスワード(最低６文字)", autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, placeholder: "パスワード(確認用)", autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "アカウント作成" %>
    </div>
  <% end %>
  <div class="shared">
    <%= render "users/shared/links" %>
  </div>
</div>
